In [1]:
import numpy as np 
import pandas as pd 
import nltk, re, string, collections
from nltk.util import ngrams
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import string
from nltk.stem import WordNetLemmatizer 
from num2words import num2words

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

# DATA PREPROCESSING

In [3]:
def preprocessing(data):
    data = data.lower() # Lowercase conversion
    data = re.sub('[^\w\s]'," ",str(data)) # Removing extra spaces
    data = re.sub('[^a-zA-Z0-9]'," ",str(data)) # Removing Special Characters
    data = word_tokenize(data) # Tokenize sentences into words
    lemmatizer = WordNetLemmatizer() # For lemmatization
    final = " "
    
    for i in data:
        if(i not in stopwords.words("english")):

          temp = lemmatizer.lemmatize(i) 
          if temp.isnumeric():
            temp = num2words(temp) # Convert number values to string
        final += i +" "
    return final

It takes a long time to run this preprocessing and get the preprocessed train and test data. You can directly use the train_preprocessed.csv and test_preprocessed.csv files which I have submitted seperately.

In [5]:
parameter_1 = train["title1_en"]
parameter_2 = train["title2_en"]

# Column: title_1
preprocessed_1 = []
for i in (range(len(parameter_1))):
    preprocessed_1.append(preprocessing(parameter_1[i]))

# Column: title_2
preprocessed_2 = []
for j in (range(len(parameter_2))):
    preprocessed_2.append(preprocessing(parameter_2[j]))

In [6]:
train_preprocessed = pd.DataFrame()
train_preprocessed["id"] = train["id"]
train_preprocessed["title1_en"] = preprocessed_1
train_preprocessed["title2_en"] = preprocessed_2
train_preprocessed["label"] = train["label"]

train_preprocessed.to_csv('train_preprocessed.csv',index=False)

In [7]:
train_preprocessed_data = pd.read_csv('train_preprocessed.csv')
train_preprocessed_data.head()

,id,title1_en,title2_en,label
0,195611,there are two new old age insurance benefits ...,police disprove bird s nest congress each per...,unrelated
1,191474,if you do not come to shenzhen sooner or late...,shenzhen s gdp outstrips hong kong shenzhen s...,unrelated
2,25300,if you do not come to shenzhen sooner or late...,the gdp overtopped hong kong shenzhen clarifi...,unrelated
3,123757,if you do not come to shenzhen sooner or late...,shenzhen s gdp overtakes hong kong bureau of ...,unrelated
4,141761,if you do not come to shenzhen sooner or late...,shenzhen s gdp outpaces hong kong defending r...,unrelated

In [8]:
test_parameter_1 = test["title1_en"]
test_parameter_2 = test["title2_en"]

# Column: title_1
test_preprocessed_1 = []
for m in (range(len(test_parameter_1))):
    test_preprocessed_1.append(preprocessing(test_parameter_1[m]))

# Column: title_2
test_preprocessed_2 = []
for n in (range(len(test_parameter_2))):
    test_preprocessed_2.append(preprocessing(test_parameter_2[n]))

In [9]:
test_preprocessed = pd.DataFrame()
test_preprocessed["id"] = test["id"]
test_preprocessed["title1_en"] = test_preprocessed_1
test_preprocessed["title2_en"] = test_preprocessed_2

test_preprocessed.to_csv('test_preprocessed.csv',index=False)

In [10]:
test_preprocessed_data = pd.read_csv('test_preprocessed.csv')
test_preprocessed_data.head()

,id,title1_en,title2_en
0,256442,the great coat brother zhu zhu wen in the man...,lin xinsheng after the birth of hard milking ...
1,256443,nasa reveals facts about ufo wreckage found o...,the ufo found in yuancun jiaocheng county sha...
2,256444,the hollow tomatoes are loaded with hormones,li chenfan bingbing home photos netizen this ...
3,256445,ange pavilion geoshui how accurate is matrimo...,master one the eight character presumption of...
4,256446,a 50 year old bus bus blows up an 8 year old ...,i joe johnson s disgruntled timing and order ...

Now we have preprocessed the train and test data and also have generated train_preprocessed.csv and test_preprocessed.csv files.